mkdocs
mkdocstrings
rich
black
flake8
typer
streamlit
langchain
langchain-prompty
langchain-openai
openai
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
tiktoken
scikit-learn
openpyxl
seaborn
azure-ai-formrecognizer
xlsxwriter
rapidfuzz
pytest
./llm_utils